.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.hidden {
    display: none;
}


#submit:hover {
  filter: contrast(120%);
}

#submit {
  font-feature-settings: "pnum";
  --body-color: #f7fafc;
  --button-color: #556cd6;
  --accent-color: #556cd6;
  --gray-border: #e3e8ee;
  --link-color: #fff;
  --font-color: #697386;
  --body-font-family: -apple-system,BlinkMacSystemFont,sans-serif;
  --radius: 4px;
  --form-width: 400px;
  -webkit-box-direction: normal;
  word-wrap: break-word;
  box-sizing: border-box;
  font: inherit;
  overflow: visible;
  -webkit-appearance: button;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  padding: 0 12px;
  line-height: 32px;
  outline: none;
  text-decoration: none;
  text-transform: none;
  margin-right: 8px;
  height: 36px;
  border-radius: var(--radius);
  color: #fff;
  border: 0;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s ease;
  display: block;
  box-shadow: 0 4px 5.5px 0 rgba(0,0,0,.07);
  width: 100%;
  background: var(--button-color);
}
