{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radius</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './css/slick.css' %}">
    <link rel="stylesheet" href="{% static './css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static './css/controls.css' %}">

    <!-- favicons generics -->
    <link rel="icon" type="image/png" href="{% static './icon/favicon-32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static './icon/favicon-128.png' %}" sizes="128x128">
    <link rel="icon" type="image/png" href="{% static './icon/favicon-192.png' %}" sizes="192x192">

    <!-- favicon android -->
    <link rel="shortcut icon" type="image/png" href="{% static './icon/favicon-196.png' %}" sizes="196x196">

    <!-- favicons iso -->
    <link rel="apple-touch-icon" type="image/png" href="{% static './icon/favicon-152.png' %}" sizes="152x152">
    <link rel="apple-touch-icon" type="image/png" href="{% static './icon/favicon-167.png' %}" sizes="167x167">
    <link rel="apple-touch-icon" type="image/png" href="{% static './icon/favicon-180.png' %}" sizes="180x180">

    <script type="text/javascript" src="https://imasdk.googleapis.com/js/sdkloader/ima3.js"></script>

    <script type="text/javascript" src="https://imasdk.googleapis.com/js/sdkloader/ima3_dai.js"></script>
</head>
<body>


    <!-- preloader -->
    <section id="preloader">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="154" height="83" viewBox="0 0 154 83">
                <rect id="footer-logo" width="142" height="71" transform="translate(6 6)" fill="none" stroke="#fff" stroke-linejoin="round" stroke-width="12"/>
            </svg>                                            
        </div>
    </section>
    <!-- end preloader -->


    <!-- header -->
    <header>
        <div class="nav-bar">
            <div class="left">
                <div class="logo"><a href="{% url 'base:home' %}"><svg xmlns="http://www.w3.org/2000/svg" width="110" height="60" viewBox="0 0 110 60">
                    <rect id="header-logo" width="100" height="50" transform="translate(5 5)" fill="none" stroke="#fff" stroke-linejoin="round" stroke-width="10"/>
                  </svg></a>
                </div>
                <nav>
                    <div class="menu">
                        <ul>
                            <li><a href="{% url 'base:home' %}">Home</a></li>
                            <li><a href="{% url 'base:movies' %}">Movies</a></li>
                            <li><a href="{% url 'base:tv-shows' %}">TV Shows</a></li>
                            <li><a style="cursor: pointer;">More</a></li>                
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="right">
                <div class="search-box">
                    <form class="search" action="{% url 'base:search' %}" method="get">
                        <input type="text" name="query" placeholder="Search" autocomplete="off">
                        <button class="search-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                <g id="search-icon" fill="none" stroke="#dcdcdc" stroke-linejoin="round" stroke-width="8">
                                <rect width="50" height="50" stroke="none"/>
                                <rect x="4" y="4" width="42" height="42" fill="none"/>
                                </g>
                            </svg>
                        </button>
                    </form>
                </div>
                {% if request.user.is_authenticated %}
                <div class="profile-icon"><a href="{% url 'user:profile' %}"><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                    <g id="profile-icon" fill="none" stroke="#fff" stroke-width="10">
                      <circle cx="35" cy="35" r="35" stroke="none"/>
                      <circle cx="35" cy="35" r="30" fill="none"/>
                    </g>
                  </svg></a></div>
                {% else %}
                <div class="login"><a href="{% url 'user:login' %}">Login</a></div>
                {% endif %}
            </div>
        </div>
    </header>
    <!-- end header -->


    <!-- movie title -->
    <section class="video-title-cover">
        <div class="video-title">
            <div class="title">
                <h1>{{ poster.movie.title }}</h1>
            </div>
        </div>
    </section>
    <!-- end movie title -->


    <!-- story line -->
    <section class="story-line-cover">
        <div class="story-line">
            <div class="story">
                <p>{{ poster.movie.storyline }}</p>
            </div>
        </div>
    </section>
    <!-- end story line -->


    <!-- video player -->
    <section class="video-cover">
        {% if plan == 'Null' %}
        <div id="video-empty-cover">
            <div class="empty">
                <div class="message">
                    <p>You can't watch this <span style="text-transform: lowercase;">{% if type == 'Movies' %} movie {% endif %}</span> because,<br>
                    you don't have a subscription plan</p>
                    <a href="{% url 'plan:plans' %}"><button>Select a Plan</button></a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="video">
            <video data-shaka-player id="video"></video>
        </div>
        {% endif %}

    </section>
    <!-- end video player -->


    <!-- about -->
    <section class="about-cover" id="try">
        <div class="about">
            <div class="p-and-button">
                <div class="p"><p class="gener">
                    <sapn>{{genre}}</sapn> • <span>{{poster.movie.runtime}}</span> minutes</p></div>
                <div class="button">
                    <button class="star-button"><div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.114" height="16.355" viewBox="0 0 17.114 16.355">
                            <path id="star" d="M282,4337.27l-4.15,2.5a1,1,0,0,1-1.49-1.08l1.1-4.72-3.67-3.18a1,1,0,0,1,.57-1.75l4.83-.41,1.89-4.45a1,1,0,0,1,1.84,0l1.89,4.46,4.83.41a1,1,0,0,1,.57,1.75l-3.67,3.18,1.1,4.72a1,1,0,0,1-1.49,1.08l-4.15-2.51Z" transform="translate(-273.443 -4323.572)" fill="#1d1d1d"/>
                        </svg>                          
                    </div></button>
                    <button class="share">Share</button>
                    <form id="watchlistForm" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="whatType" id="whatType" value="{{ type }}">
                        <input type="hidden" name="posterId" id="posterId" value="{{ poster.id }}">
                        {% if watchlist %}
                        <button type="submit" class="watchlist">Your Watchlist</button>
                        {% else %}
                        <button type="submit" class="watchlist">Add to Watchlist</button>
                        {% endif %}
                    </form>
                </div>
            </div>
            <p class="detials"><span class="crew"><span>Starring:</span><span>Tom Holland</span><span>Zendaya</span><span>Benedict Cumberbatch</span><span>Jacob Batalon</span><span>Jon Favreau</span><span>Jamie Foxx</span><span>Willem Dafoe</span><span>Alfred Molina</span><span>and others.</span></span><span class="crew"><span>Director:</span><span>Jon Watts</span></span><span class="crew"><span>Screenplay:</span><span>Chris McKenna</span><span>Erik Sommers</span></span><span class="crew"><span>Director of Photography:</span><span>Mauro Fiore</span></span><span class="crew"><span>Producer:</span><span>Kevin Feige</span><span>Amy Pascal</span></span><span class="crew"><span>Editor:</span><span>Jeffrey Ford</span><span>Leigh Folsom Boyd</span></span><span class="crew"><span>Original Music Composer:</span><span>Michael Giacchino</span></span></p>
            <p class="released">Released • <span>{{ poster.movie.release_date }}</span></p>
        </div>
    </section>
    <!-- end about -->

    <!-- share modal -->
    <section id="share">
        <div class="link">
            <p>You can <span>copy this link</span> and share it anywhere</p>
        </div>
    </section>
    <!-- end share modal -->

    <!-- rating modal -->
    <section id="star-rating">
        <div class="star-rating-cover">
            <form class="ratingForm" method="POST">
            {% csrf_token %}
                <div class="rating">
                    <input type="hidden" name="whatType" id="whatType" value="{{ type }}">
                    <input type="hidden" name="posterId" id="posterId" value="{{ poster.id }}">
                    <input type="radio" name="rate" value="8" id="rate-8" {% if rating == 8 %} checked {% endif %}>
                    <label for="rate-8" class="rate-8">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.114" height="16.355" viewBox="0 0 17.114 16.355">
                            <path id="star" d="M282,4337.27l-4.15,2.5a1,1,0,0,1-1.49-1.08l1.1-4.72-3.67-3.18a1,1,0,0,1,.57-1.75l4.83-.41,1.89-4.45a1,1,0,0,1,1.84,0l1.89,4.46,4.83.41a1,1,0,0,1,.57,1.75l-3.67,3.18,1.1,4.72a1,1,0,0,1-1.49,1.08l-4.15-2.51Z" transform="translate(-273.443 -4323.572)" fill="#1d1d1d"/>
                        </svg>
                    </label>
                    <input type="radio" name="rate" value="7" id="rate-7" {% if rating == 7 %} checked {% endif %}>
                    <label for="rate-7" class="rate-7">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.114" height="16.355" viewBox="0 0 17.114 16.355">
                            <path id="star" d="M282,4337.27l-4.15,2.5a1,1,0,0,1-1.49-1.08l1.1-4.72-3.67-3.18a1,1,0,0,1,.57-1.75l4.83-.41,1.89-4.45a1,1,0,0,1,1.84,0l1.89,4.46,4.83.41a1,1,0,0,1,.57,1.75l-3.67,3.18,1.1,4.72a1,1,0,0,1-1.49,1.08l-4.15-2.51Z" transform="translate(-273.443 -4323.572)" fill="#1d1d1d"/>
                        </svg>
                    </label>
                    <input type="radio" name="rate" value="6" id="rate-6" {% if rating == 6 %} checked {% endif %}>
                    <label for="rate-6" class="rate-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.114" height="16.355" viewBox="0 0 17.114 16.355">
                            <path id="star" d="M282,4337.27l-4.15,2.5a1,1,0,0,1-1.49-1.08l1.1-4.72-3.67-3.18a1,1,0,0,1,.57-1.75l4.83-.41,1.89-4.45a1,1,0,0,1,1.84,0l1.89,4.46,4.83.41a1,1,0,0,1,.57,1.75l-3.67,3.18,1.1,4.72a1,1,0,0,1-1.49,1.08l-4.15-2.51Z" transform="translate(-273.443 -4323.572)" fill="#1d1d1d"/>
                        </svg>
                    </label>
                    <input type="radio" name="rate" value="5" id="rate-5" {% if rating == 5 %} checked {% endif %}>
                    <label for="rate-5" class="rate-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.114" height="16.355" viewBox="0 0 17.114 16.355">
                            <path id="star" d="M282,4337.27l-4.15,2.5a1,1,0,0,1-1.49-1.08l1.1-4.72-3.67-3.18a1,1,0,0,1,.57-1.75l4.83-.41,1.89-4.45a1,1,0,0,1,1.84,0l1.89,4.46,4.83.41a1,1,0,0,1,.57,1.75l-3.67,3.18,1.1,4.72a1,1,0,0,1-1.49,1.08l-4.15-2.51Z" transform="translate(-273.443 -4323.572)" fill="#1d1d1d"/>
                        </svg>
                    </label>
                    <input type="radio" name="rate" value="4" id="rate-4" {% if rating == 4 %} checked {% endif %}>
                    <label for="rate-4" class="rate-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.114" height="16.355" viewBox="0 0 17.114 16.355">
                            <path id="star" d="M282,4337.27l-4.15,2.5a1,1,0,0,1-1.49-1.08l1.1-4.72-3.67-3.18a1,1,0,0,1,.57-1.75l4.83-.41,1.89-4.45a1,1,0,0,1,1.84,0l1.89,4.46,4.83.41a1,1,0,0,1,.57,1.75l-3.67,3.18,1.1,4.72a1,1,0,0,1-1.49,1.08l-4.15-2.51Z" transform="translate(-273.443 -4323.572)" fill="#1d1d1d"/>
                        </svg>
                    </label>
                    <input type="radio" name="rate" value="3" id="rate-3" {% if rating == 3 %} checked {% endif %}>
                    <label for="rate-3" class="rate-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.114" height="16.355" viewBox="0 0 17.114 16.355">
                            <path id="star" d="M282,4337.27l-4.15,2.5a1,1,0,0,1-1.49-1.08l1.1-4.72-3.67-3.18a1,1,0,0,1,.57-1.75l4.83-.41,1.89-4.45a1,1,0,0,1,1.84,0l1.89,4.46,4.83.41a1,1,0,0,1,.57,1.75l-3.67,3.18,1.1,4.72a1,1,0,0,1-1.49,1.08l-4.15-2.51Z" transform="translate(-273.443 -4323.572)" fill="#1d1d1d"/>
                        </svg>
                    </label>
                    <input type="radio" name="rate" value="2" id="rate-2" {% if rating == 2 %} checked {% endif %}>
                    <label for="rate-2" class="rate-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.114" height="16.355" viewBox="0 0 17.114 16.355">
                            <path id="star" d="M282,4337.27l-4.15,2.5a1,1,0,0,1-1.49-1.08l1.1-4.72-3.67-3.18a1,1,0,0,1,.57-1.75l4.83-.41,1.89-4.45a1,1,0,0,1,1.84,0l1.89,4.46,4.83.41a1,1,0,0,1,.57,1.75l-3.67,3.18,1.1,4.72a1,1,0,0,1-1.49,1.08l-4.15-2.51Z" transform="translate(-273.443 -4323.572)" fill="#1d1d1d"/>
                        </svg>
                    </label>
                    <input type="radio" name="rate" value="1" id="rate-1" {% if rating == 1 %} checked {% endif %}>
                    <label for="rate-1" class="rate-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.114" height="16.355" viewBox="0 0 17.114 16.355">
                            <path id="star" d="M282,4337.27l-4.15,2.5a1,1,0,0,1-1.49-1.08l1.1-4.72-3.67-3.18a1,1,0,0,1,.57-1.75l4.83-.41,1.89-4.45a1,1,0,0,1,1.84,0l1.89,4.46,4.83.41a1,1,0,0,1,.57,1.75l-3.67,3.18,1.1,4.72a1,1,0,0,1-1.49,1.08l-4.15-2.51Z" transform="translate(-273.443 -4323.572)" fill="#1d1d1d"/>
                        </svg>
                    </label>
                </div>
                <div class="rate">
                    <button>Rate</button>
                </div>
                
            </form>
        </div>
    </section>
    <!-- end rating modal -->
                       
                        
    <!-- episod slider 
    <section id="series">
        <h1></h1>
        <div id="slider-cover">
            <div id="slider">
                <div class="slider-title">Season 1</div>
                <div id="prev-arrow-7" class="prev-arrow"><button><svg xmlns="http://www.w3.org/2000/svg" width="25.876" height="45.256" viewBox="0 0 25.876 45.256">
                    <path id="left-arrow" d="M25.859,40.516a4.913,4.913,0,0,0-1.293-3.362L10.822,22.628,24.566,8.1a4.949,4.949,0,0,0,0-6.707,4.3,4.3,0,0,0-6.339,0L1.316,19.276a4.92,4.92,0,0,0,0,6.7l16.9,17.888a4.3,4.3,0,0,0,6.339,0,4.881,4.881,0,0,0,1.293-3.346" fill="#fff"/>
                  </svg></button></div>
                <div id="next-arrow-7" class="next-arrow"><button><svg xmlns="http://www.w3.org/2000/svg" width="25.876" height="45.256" viewBox="0 0 25.876 45.256">
                    <path id="right-arrow" d="M25.859,40.516a4.913,4.913,0,0,0-1.293-3.362L10.822,22.628,24.566,8.1a4.949,4.949,0,0,0,0-6.707,4.3,4.3,0,0,0-6.339,0L1.316,19.276a4.92,4.92,0,0,0,0,6.7l16.9,17.888a4.3,4.3,0,0,0,6.339,0,4.881,4.881,0,0,0,1.293-3.346" transform="translate(25.876 45.256) rotate(180)" fill="#fff"/>
                  </svg></button></div>
                <div id="multiple-items-7" class="multiple-items">
                    <div><img src="./img/episode.svg" alt="01"><span>S1 E1 • 11 Dec</span></div>
                    <div><img src="./img/episode.svg" alt="02"><span>S1 E1 • 11 Dec</span></div>
                    <div><img src="./img/episode.svg" alt="03"><span>S1 E1 • 11 Dec</span></div>
                    <div><img src="./img/episode.svg" alt="04"><span>S1 E1 • 11 Dec</span></div>
                    <div><img src="./img/episode.svg" alt="05"><span>S1 E1 • 11 Dec</span></div>
                    <div><img src="./img/episode.svg" alt="06"><span>S1 E1 • 11 Dec</span></div>
                    <div><img src="./img/episode.svg" alt="07"><span>S1 E1 • 11 Dec</span></div>
                    <div><img src="./img/episode.svg" alt="08"><span>S1 E1 • 11 Dec</span></div>
                    <div><img src="./img/episode.svg" alt="09"><span>S1 E1 • 11 Dec</span></div>
                    <div><img src="./img/episode.svg" alt="10"><span>S1 E1 • 11 Dec</span></div>
                    <div><img src="./img/episode.svg" alt="11"><span>S1 E1 • 11 Dec</span></div>
                    <div><img src="./img/episode.svg" alt="12"><span>S1 E1 • 11 Dec</span></div>            
                </div>
            </div>
        </div>
    </section>
     end episod slider -->


    <!-- poster slider -->
    <section id="movies">
        <h1></h1>
        <div id="slider-cover">
            <div id="slider">
                <div class="slider-title">More Like This</div>
                <div id="prev-arrow-6" class="prev-arrow"><button><svg xmlns="http://www.w3.org/2000/svg" width="25.876" height="45.256" viewBox="0 0 25.876 45.256">
                    <path id="left-arrow" d="M25.859,40.516a4.913,4.913,0,0,0-1.293-3.362L10.822,22.628,24.566,8.1a4.949,4.949,0,0,0,0-6.707,4.3,4.3,0,0,0-6.339,0L1.316,19.276a4.92,4.92,0,0,0,0,6.7l16.9,17.888a4.3,4.3,0,0,0,6.339,0,4.881,4.881,0,0,0,1.293-3.346" fill="#fff"/>
                  </svg></button></div>
                <div id="next-arrow-6" class="next-arrow"><button><svg xmlns="http://www.w3.org/2000/svg" width="25.876" height="45.256" viewBox="0 0 25.876 45.256">
                    <path id="right-arrow" d="M25.859,40.516a4.913,4.913,0,0,0-1.293-3.362L10.822,22.628,24.566,8.1a4.949,4.949,0,0,0,0-6.707,4.3,4.3,0,0,0-6.339,0L1.316,19.276a4.92,4.92,0,0,0,0,6.7l16.9,17.888a4.3,4.3,0,0,0,6.339,0,4.881,4.881,0,0,0,1.293-3.346" transform="translate(25.876 45.256) rotate(180)" fill="#fff"/>
                  </svg></button></div>
                <div class="multiple-items-cover">
                    <div id="multiple-items-6" class="multiple-items">
                        {% for poster in moreLikeThis %}
                        <div><a href="{% url 'base:player' poster.movie.slug %}"><img src="{{poster.poster.url}}" alt="{{poster.movie.title}}"></a></div>
                        {% endfor %}            
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end poster slider -->


    <!-- message -->
    <section class="message-cover">
        <div class="message">
            <p>This webpage not optimized for your device,<br> 
                please open this webpage on your desktop machine.
            </p>
        </div>
    </section>
    <!-- end message -->


    <!-- footer -->
    <footer>
        <section>
            <div class="icons">
                <div class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="154" height="83" viewBox="0 0 154 83">
                        <rect id="footer-logo" width="142" height="71" transform="translate(6 6)" fill="none" stroke="#fff" stroke-linejoin="round" stroke-width="12"/>
                    </svg>                                            
                </div>
                <div class="social-media">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20.713" height="44.392" viewBox="0 0 20.713 44.392">
                        <path id="facebook" d="M13.773,44.392v-22.2H19.9l.812-7.65h-6.94l.01-3.829c0-2,.19-3.064,3.055-3.064H20.67V0H14.541C7.18,0,4.589,3.711,4.589,9.952v4.593H0v7.65H4.589v22.2Z" fill="#fff"/>
                    </svg>                      
                    <svg id="instagram" xmlns="http://www.w3.org/2000/svg" width="44.395" height="44.392" viewBox="0 0 44.395 44.392">
                        <path id="Combined-Shape" d="M22.2,44.392c-7.2,0-8.065-.028-10.942-.158A15.018,15.018,0,0,1,6.228,43.3a8.4,8.4,0,0,1-3.113-2.026,8.364,8.364,0,0,1-2.026-3.111,14.947,14.947,0,0,1-.933-5.026C.027,30.294,0,29.439,0,22.192s.027-8.1.156-10.938a14.98,14.98,0,0,1,.933-5.028A8.351,8.351,0,0,1,3.115,3.113,8.427,8.427,0,0,1,6.228,1.085,15.018,15.018,0,0,1,11.256.152C13.783.039,14.735.006,19.77,0c.233.007.483.007.7.007H22.2c7.288,0,8.136.027,10.942.154a14.986,14.986,0,0,1,5.028.933,8.364,8.364,0,0,1,3.111,2.026,8.427,8.427,0,0,1,2.028,3.113,15.059,15.059,0,0,1,.933,5.026c.129,2.842.156,3.7.156,10.94s-.027,8.1-.156,10.938a15.057,15.057,0,0,1-.933,5.026A8.98,8.98,0,0,1,38.168,43.3a14.91,14.91,0,0,1-5.028.935C30.265,44.364,29.4,44.392,22.2,44.392ZM22.2,8.3A13.9,13.9,0,1,0,36.1,22.205,13.921,13.921,0,0,0,22.2,8.3ZM36.652,4.5l-.006,0a2.343,2.343,0,1,0,.006,0Z" transform="translate(0)" fill="#fff"/>
                        <path id="Shape" d="M9.026,0A9.026,9.026,0,1,1,0,9.026,9.026,9.026,0,0,1,9.026,0Z" transform="translate(13.172 13.179)" fill="#fff"/>
                    </svg>                      
                    <svg xmlns="http://www.w3.org/2000/svg" width="53.717" height="44.392" viewBox="0 0 53.717 44.392">
                        <path id="twitter" d="M26.083,11.809l.116,1.92-1.941-.235A31.567,31.567,0,0,1,5.783,4.4L3.222,1.856l-.66,1.881a11.309,11.309,0,0,0,2.406,11.6c1.553,1.646,1.2,1.881-1.475.9a4.577,4.577,0,0,0-1.824-.431c-.272.274.66,3.84,1.4,5.251a12.534,12.534,0,0,0,5.317,5.016l1.9.9-2.251.039c-2.174,0-2.251.039-2.018.862.776,2.547,3.843,5.251,7.258,6.426l2.406.823-2.1,1.254a21.853,21.853,0,0,1-10.4,2.9A11.493,11.493,0,0,0,0,39.591c0,.392,4.735,2.586,7.491,3.448a32.786,32.786,0,0,0,25.462-2.9,34.075,34.075,0,0,0,12.925-15.2A40.418,40.418,0,0,0,48.517,13.18c0-1.8.116-2.038,2.29-4.193A25.588,25.588,0,0,0,53.524,5.97c.388-.745.349-.745-1.63-.078-3.3,1.176-3.765,1.019-2.135-.745C50.962,3.894,52.4,1.621,52.4.955c0-.118-.582.078-1.242.431a21.654,21.654,0,0,1-3.416,1.332l-2.1.666-1.9-1.293a15.8,15.8,0,0,0-3.3-1.724,13.26,13.26,0,0,0-6.792.157A11.219,11.219,0,0,0,26.083,11.809Z" fill="#fff"/>
                    </svg>                
                </div>
            </div>
            <div class="vertical-line"><hr></div>
            <div class="site-map">
                <div class="map">
                    <div class="browse">
                        <li>Browse</li>
                        <li><a href="{% url 'base:movies' %}">Movies</a></li>
                        <li><a href="{% url 'base:tv-shows' %}">TV Shows</a></li>
                    </div>
                    <div class="my-account">
                        <li>My Account</li>
                        <li><a class="watchlist-checked" href="{% url 'user:profile' %}">Watchlist</a></li>
                        <li><a class="settings-checked" href="{% url 'user:profile' %}">Settings</a></li>
                    </div>
                    <div class="information">
                        <li>Information</li>
                        <li><a style="cursor: pointer;">About Us</a></li>
                        <li><a style="cursor: pointer;">Contact Us</a></li>
                    </div>
                    <div class="privacy-and-terms">
                        <li>Privacy & Terms</li>
                        <li><a style="cursor: pointer;">Privacy Policy</a></li>
                        <li><a style="cursor: pointer;">Terms of Use</a></li>
                    </div>
                </div>
            </div>
            <div class="vertical-line"><hr></div>
            <div class="copyright">
                <p>Copyright © 2021 Radius.<br>
                    All Rights Reserved.
                </p>
            </div>
        </section>
    </footer>
    <!-- end footer -->


    <!-- js -->
    <script src="{% static './js/jquery-3.6.0.js' %}"></script>
    <script src="{% static './js/slick.js' %}"></script>
    <script src="{% static './js/shaka-player.compiled.js' %}"></script>
    <script src="{% static './js/shaka-player.ui.js' %}"></script>
    <script src="{% static './js/lottie-player.js' %}"></script>
    <script src="{% static './js/main.js' %}"></script>
    <script src="{% static './js/player.js' %}"></script>
    <script src="{% static './js/slider.js' %}"></script>
    <script>

        let title = '{{poster.movie.title}}'
        let tagline = '{{poster.movie.tagline}}'

        let AdorNoAd = ''
        {% if plan == 'Null' or plan == 'Regular'  %}
        AdorNoAd = 'Ad'
        {% else %}
        AdorNoAd = 'NoAd'
        {% endif %}

        let rate = '{{ rating }}'

    </script>

    
</body>
</html>