{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radius</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    
    <!-- favicons generics -->
    <link rel="icon" type="image/png" href="{% static './icon/favicon-32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static './icon/favicon-128.png' %}" sizes="128x128">
    <link rel="icon" type="image/png" href="{% static './icon/favicon-192.png' %}" sizes="192x192">

    <!-- favicon android -->
    <link rel="shortcut icon" type="image/png" href="{% static './icon/favicon-196.png' %}" sizes="196x196">

    <!-- favicons iso -->
    <link rel="apple-touch-icon" type="image/png" href="{% static './icon/favicon-152.png' %}" sizes="152x152">
    <link rel="apple-touch-icon" type="image/png" href="{% static './icon/favicon-167.png' %}" sizes="167x167">
    <link rel="apple-touch-icon" type="image/png" href="{% static './icon/favicon-180.png' %}" sizes="180x180">

</head>
<body>


    <!-- instruction message -->
    <section id="message-cover">
        <div id="message1">
            <h1>Password</h1>
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            <div class="left-back-cover">
                <a href="{% url 'reset_password' %}"><div class="left-back">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25.689" height="21.868" viewBox="0 0 25.689 21.868">
                        <path id="back" d="M12.518,3.361,6.865,8.948l16.869.077A1.963,1.963,0,0,1,25.689,11h0a1.963,1.963,0,0,1-1.974,1.954L6.85,12.878l5.578,5.644a1.963,1.963,0,0,1-.011,2.778h0a1.967,1.967,0,0,1-2.78-.013L.463,12.023A1.613,1.613,0,0,1,.482,9.742L9.753.569A1.965,1.965,0,0,1,12.53.581h0a1.965,1.965,0,0,1-.013,2.78Z" fill="#50fff9"/>
                      </svg>                                         
                </div></a>
            </div>
        </div>
    </section>
    <!-- end instruction message -->


    <!-- message -->
    <section class="message-cover">
        <div class="message">
            <p>This webpage not optimized for your device,<br> 
                please open this webpage on your desktop machine.
            </p>
        </div>
    </section>
    <!-- end message -->

    
</body>
</html>